body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    margin: 0 20px;
}

.logo {
    display: flex;
}
.hamburger{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5px;
}
.hamburger div {
    width: 25px;
    height: 4px;
    background-color: rgb(161, 155, 155);
    margin: 3px 0;
}

.youtubeIcon {
    width: 50px;
    margin-right: 4px;
}

.search-container {
    width: 40%;
}

form {
    display: flex;
    width: 100%;
}

.input {
    width: 500px;
    height: 29px;
}

.formBtn {
    width: 56px;
    height: 29px;
}

.search {
    width: 15px;
    height: 15px;
}

.upload {
    width: 24px;
}

ul {
    list-style: none;
    padding: 0;
}

nav ul {
    display: flex;
}

.signIn {
    height: 28px;
    background-color: rgb(22, 122, 198);
    border: none;
    outline: none;
    border-radius: 1px;
    color: white;
    white-space: nowrap;
    font-size: 12px;
}