body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    margin: 0 20px;
}

.logo {
    display: flex;
}
.hamburger{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5px;
}
.hamburger div {
    width: 25px;
    height: 4px;
    background-color: rgb(161, 155, 155);
    margin: 3px 0;
}

.youtubeIcon {
    width: 50px;
    margin-right: 4px;
}

.search-container {
    width: 40%;
}

form {
    display: flex;
    width: 100%;
}

.input {
    width: 500px;
    height: 29px;
}

.formBtn {
    width: 56px;
    height: 29px;
}

.search {
    width: 15px;
    height: 15px;
}

.upload {
    width: 24px;
    margin-right: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

nav ul {
    display: flex;
}

.signIn {
    height: 28px;
    background-color: rgb(22, 122, 198);
    border: none;
    outline: none;
    border-radius: 1px;
    color: white;
    white-space: nowrap;
    font-size: 12px;
}
main {
    display: flex;
    justify-content: center;
    padding: 30px 0;
}
aside {
    min-width: 305px;
    max-width: 402px;
    width: 100%;
}
.aside-list {
    display: flex;
}
.aside-list img {
    width: 168px;
}
main>div {
    padding-right:50px;
    /* text-align: center; */
}
.video-details {
    display: flex;
    justify-content: space-between;
}
.video-details>div {
    display: flex;
}
.subscribe {
    background: #CC0000;
    color: white;
    border: none;
    width: 90px;
    padding: 7px;
    display: flex;
    justify-content: space-between;
}
.fab {
    margin-right: 4px;
}
.video-details>div>img {
    margin-right: 10px;
}
.video-details h4 {
    margin: 15px 0;
}
.subs {
    display: flex;
    align-items: center;
    border: 1px solid rgb(202, 202, 202);
    background: #FFF9FD;
    border-radius: 2px;
}
.subs span {
    padding-left: 4px;
    color: gray;
}
.views {
    align-self: flex-end;
}
.video-title h1 {
    font-size: 1.5rem;
}